
<!DOCTYPE html>
<html lang="{{.Language}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">
    <title>{{.BlogName}}</title>
    <link rel="canonical" href="{{.BaseURL}}/">
    <meta name="description" content="{{.BlogDescription}}">
    <link rel="alternate" type="application/rss+xml" title="{{.BlogName}} RSS Feed" href="{{.BaseURL}}/feed">
    <link rel="stylesheet" href="/static/post-assets/post-style.css">
</head>
<body class="home">
<header>
</header>
<a class="title" href="/">
    <h1>{{.BlogName}}</h1>
</a>
<main>
    {{range .Posts}}
    <div class="post-item">
        <a href="/posts/{{.Slug}}">{{.Title}}</a>
        <time datetime="{{.CreatedAt}}">{{.FormattedDate}}</time>
    </div>
    {{else}}
    <p>{{.T.NoPostsFound}}</p>
    {{end}}

    {{if gt .Pagination.TotalPages 1}}
    <div class="post-pagination">
        <ol class="page-navigator">
            {{if gt .Pagination.Page 1}}
            <li><a href="/?page={{.Pagination.PrevPage}}">&nbsp;←&nbsp;</a></li>
            {{end}}
            
            {{range .Pagination.Pages}}
            {{if eq . $.Pagination.Page}}
            <li class="current"><a href="/?page={{.}}">{{.}}</a></li>
            {{else}}
            <li><a href="/?page={{.}}">{{.}}</a></li>
            {{end}}
            {{end}}
            
            {{if lt .Pagination.Page .Pagination.TotalPages}}
            <li class="next"><a href="/?page={{.Pagination.NextPage}}">&nbsp;→&nbsp;</a></li>
            {{end}}
        </ol>
    </div>
    {{end}}
</main>

<footer>
    <span id="footer-directive">
        <nav>
            <a href="/">{{.T.Home}}</a>
            <a href="/tags">{{.T.Tags}}</a>
            <a href="/feed">{{.T.RSS}}</a>
        </nav>
    </span>
    <span>
        &copy; {{.Year}} <a href="/">{{.BlogName}}</a>
    </span>
</footer>
</body>
</html>